.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.aar

libs/layouts/build/intermediates/exploded-aar/HelloGByeDroid.libs/core/unspecified/jars/classes.jar

*.iml

HelloGByeDroid.iml

library/library.iml

*.iml

*.iml

app/app.iml

.idea/modules.xml

.idea/modules.xml

app/app.iml

libs/libs.iml

*.iml

libs/libs.iml

.idea/modules.xml

.idea/compiler.xml

.idea/compiler.xml

.idea/encodings.xml

.idea/gradle.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

bottom-bar/build/intermediates/bundles/debug/classes.jar

bottom-bar/build/intermediates/bundles/debug/classes.jar

bottom-bar/build/intermediates/bundles/debug/classes.jar

bottom-bar/build/intermediates/bundles/debug/classes.jar

bottom-bar/build/intermediates/bundles/debug/classes.jar

bottom-bar/build/intermediates/classes/debug/com/roughike/bottombar/BottomBar$1.class

bottom-bar/build/intermediates/classes/debug/com/roughike/bottombar/BottomBar$3.class

bottom-bar/build/intermediates/classes/release/com/roughike/bottombar/BottomBar.class

bottom-bar/build/intermediates/classes/release/com/roughike/bottombar/BottomBar.class

bottom-bar/build/intermediates/classes/release/com/roughike/bottombar/BottomBar$1.class

bottom-bar/build/intermediates/classes/release/com/roughike/bottombar/BottomBar$2.class

bottom-bar/build/intermediates/classes/release/com/roughike/bottombar/BottomBar$3.class

bottom-bar/build/intermediates/classes/release/com/roughike/bottombar/BottomBar$4.class

bottom-bar/build/intermediates/classes/release/com/roughike/bottombar/BottomBar$5.class

bottom-bar/src/main/java/com/roughike/bottombar/BottomBar.java

bottom-bar/build/intermediates/classes/debug/com/roughike/bottombar/BottomBar$2.class

bottom-bar/build/intermediates/classes/debug/com/roughike/bottombar/BottomBar$4.class

bottom-bar/build/intermediates/classes/debug/com/roughike/bottombar/BottomBar$5.class
