.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.aar

libs/layouts/build/intermediates/exploded-aar/HelloGByeDroid.libs/core/unspecified/jars/classes.jar

*.iml

HelloGByeDroid.iml

library/library.iml

*.iml

*.iml

app/app.iml

.idea/modules.xml

.idea/modules.xml

app/app.iml

libs/libs.iml

*.iml

libs/libs.iml

.idea/modules.xml

.idea/compiler.xml

.idea/compiler.xml

.idea/encodings.xml

.idea/gradle.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml
